<nav class="navbar navbar-expand-lg" style="background-color: yellow;">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="/search/" style="padding-left: 10px;color: black; font-family: 'Ubuntu', serif;"> Scraper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <button class="btn btn-outline-dark" type="submit">Signout</button>
      
    </div>
  </div>
</nav>